html{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height: 100%;
}
body{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgba(216, 241, 255, 0.8);

}
#page{
	width: 100%;
	height: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	display: block;
}

/*=======================================================================*/

/*Form css*/
#headerForm input{
	box-sizing: border-box;
	margin-top: 20px;
	margin-right: 20px;
	border-radius: 5px;
	height: 16px;
}

	input#login{
	margin-top: 5px;
	height: 20px;
	width: 45px;
}

#signUp{
	margin: auto;
	margin-top: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 75%;
	border: 2px solid black;
	border-radius: 5px;
}
#signUp input{
	margin-bottom: 20px;
}
input{
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
	height: 14px;
}
fieldset{
	border: 0px;
}

input#logout {
	height: 22px;
}

input#create {
	height: 23px;
	width: 130px;
	padding: 3px;
}

/*=======================================================================*/

/* Uniform Header on all pages */
#header{
	background-color: #4D4D4D;
	width: 100%;
	height: 75px; 				/*HEIGHT OF HEADER */
	margin: 0 0 0 0;
	position: fixed;
	top: 0;
}
#header img{ /*Logo */
	margin: 0 0 0 0;
	width: 250px;
	padding-left: 20px;
	padding-top: 20px;
	/* height: 40%; */
	float: left;
	clear: left;
}
#headerForm{ /*Div for header form*/
	margin: 0px 0 0 600px;
	display: inline;
	color: white;
	font-weight: 400;
	height: 100%;
	position: fixed;
	clear: right;
	width: 100%;

}

#headerForm2{ /*Div for header form*/
	margin: 0 0 0 490px;
	display: inline;
	color: white;
	font-weight: 400;
	height: 100%;
	position: fixed;
	clear: right;
	width: 100%;

}

fieldset#f1 {
	padding-top: 20px;
}

.inputLogin{
	font-weight: lighter;
	display: inline-flex;

}
.headerButtons{
	display: inline;
	float: inherit;
}

.btn {
	background-color: #808080;
	border: none;
	padding: 6px 20px;
	font-size: 14px;
	font-weight: lighter;
	border-radius: 5px;
	opacity: 0.7;
	transition: 0.3s;
	color: white;
}

.btn:hover {
	opacity: 1;
}

/*=======================================================================*/

/* Main content goes in here */
#mainContent{
	margin-top: 75px;
	margin-bottom: 0;
	display: block;
	overflow-x: hidden;
}
#mainContent-homepage{
	margin-top: 125px;
	margin-bottom: 0;
	display: block;
	overflow: auto;
}
#mainLeft{
	float:left;
	clear: left;
	margin-top: 20px;
	margin-left: 3%;
	width: 45%;
	height: 100%;
	text-align: center;
}

#mainContent p {
	font-size: 20px;
}


#mainRight h1 {
	font-size: 30px;
}

#mainRight{
	position: fixed;
	margin-left: 60%;
	clear: right;
	margin-right: 2%;
	width: 360px;
	height: 100%;
}
#mainRight form{
	text-align: center;
}

/*=======================================================================*/

/*Main display for groups on homepage*/
#groupsDisplay{
	width: 59%;
	min-width: 650px;
	min-height: 1000px;					/*HEIGHT OF GROUP DISPLAY*/
	margin-left: 250px;
	overflow: auto;
}
#groupsDisplay h1{
	width: 30%;
	display: inline;
	margin: 0 0 0 0;
	float: left;
	clear: left;
}

/*=======================================================================*/
/*Filter buttons*/

#filterContainer{
	width:96%;
	height: 80px;
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 20px;
}
#filterButtons{
	float: left;
	width: 65%;
	display: inline;
	text-align: center;
}

#fTopL{
	background-color: limegreen;
	width: 45%;
	height: 35px;
	float: left;
	clear: left;
	display: inline;
}
#fTopR{
	background-color: lightskyblue;
	width: 45%;
	height: 35px;
	float: right;
	clear: right;
	display: inline;
}
#fBottomL{
	border-top: 1px solid black;
	background-color: palevioletred;
	width: 45%;
	height: 35px;
	float: left;
	clear: left;
	display: inline;
}
#fBottomR{
	border-top: 1px solid black;
	background-color: lightskyblue;
	width: 45%;
	height: 35px;
	float: right;
	clear: right;
	display: inline;
}

/*=======================================================================*/

/*Class Box*/
#classDisplay{
	background-color: #e0e0e0;
	border-radius: 10px;
	width: 230px;
	margin-left: 20px;;
	margin-top: 20px;
	position: fixed;
	top: 1;
}
#act-className{
	width: 80%;
	margin:auto;
	margin-top: 5px;
	text-align: center;
	border-bottom: 2px solid black;
}
#act-classDesc{
	font-size: 14px;
	width: 80%;
	text-align: center;
	margin: auto;
	margin-top:5px;
	margin-bottom: 5px;
}
.classBoxButton{
	width:80%;
	height:30px;
	text-align: center;
	font-size:1em;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	background-color: #adadad;
	border-radius: 8px;
	color: white;
}
#groupSearch{
	width: 80%;
	height: 30px;
	margin: auto;
}
#searchInput{
	padding-left: 10px;
	width: 60%;
	height: 90%;
}
#searchButton{
	width: 20%;
	height: 100%;
}

#searchbar {
	width: 100%;
	padding-left: 5%;
}


/*=======================================================================*/

/*Class Banner to display class information*/
#classBanner{
	background-color: #808080;
	color: white;
	width:100%;
	height: 50px;
	position: fixed;
	top: 75px;
}
.a_classBanner{
	background-color: #808080;
	color: white;
	width:100%;
	height: 50px;
	position: fixed;
	top: 75px;
}
#addClassBig{
	width: 100%;
	text-align: center;
	margin-top: 9px;
}
#addClassBig h1{
	margin: 0 0 0 0;
	font-size: 35px;
	font-weight: 200;
}
#addClassSmall{
	width:5%;
	height: 100%;
	float:right;
	clear:right;
	text-align: center;
}
#addClassSmall h1{
	margin: 0 0 0 0;
	font-size: 40px;
}
.classSelector{
	/*Width set dynamically*/
	height: 100%;
	float:left;
}
/*=======================================================================*/
/* Navigation bar style */
ul.nav {
	width: 100%;
	min-width: 800px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 8px;

}

.nav li {
	display: inline-block;
	min-width: 200px;
	width: 33%;
	margin: 0px;
	padding: 0;
}

.nav a {
	text-align: center;
	padding: 12px 0 13px 0;
	margin: 0;
	color: white;
	text-decoration: none;
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
}

.nav a:hover {
	background: #af0000;
	border: none;
}

ul.nav li:first-child a{
    border:none;
}
ul.nav li:last-child a {
    border:none;
}

button[type=button1], button[type=button2], button[type=button3], button[type=button4] {
	background-color: red;
	border: none;
	padding: 8px 20px;
	font-size: 14px;
	font-weight: lighter;
	border-radius: 5px;
	opacity: 0.7;
	transition: 0.3s;
	color: white;
	margin-left: 10px;
}

button[type=button1]:hover, button[type=button2]:hover, button[type=button3]:hover, button[type=button4]:hover{
	opacity: 1;
}

/*=======================================================================*/
/*GROUP BOX - dynamically created*/
/*Individual group displayed group list*/
.group{
	background-color: lightskyblue;
	border-radius: 10px;
	width: 96%;
	height: 250px;
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 20px;
}

.groupBanner{
	background-color: limegreen;
	border-radius: 5px;
	width:100%;
	height:50px;						/*GROUP BANNER HEIGHT*/
}
.groupTitle{
	margin: 5px 0 0 1%;
	width: 75%;
	height: 45%;
	float: left;
	clear: left;
}
.groupRole{
	margin: 5px 1% 0 0;
	width: 20%;
	height: 50%;
	float:right;
	clear:right;
	text-align: right;
}
.groupOwner{
	margin: 0 0 0 1%;
	width:75%;
	height: 50%;
	float:left;
	clear:left;
}
.groupDesc{
	width: 75%;
	height: 140px;
	float: left;
	clear: left;
}
.groupDesc p{
	margin: 5px 10px 10px 10px;
}
.groupDate{
	width: 75%;
	height: 60px;
	float: left;
	clear:left;
}
.groupDate p{
	margin: 0 0 10px 10px;
}
.groupButtons{
	width: 25%;
	height: 100px;
	float:right;
	clear:right;
	text-align: center;
}
.groupButtons button{
	display: block;
	width: 60%;
	height: 30px;
	margin: 10px 20px 0 0;
	float:right;
	clear: right;
}
.groupFiller{
	/*Serves only to fill whitespace, no content*/
	width: 25%;
	height: 100px;
	float: right;
	clear: right;
}

/*=======================================================================*/
/*Group Creator*/
#createGroup{
	background-color: #e0e0e0;
	width: 90%;
	min-width: 500px;
	height: 400px;
	margin-left: 10px;
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	overflow-x: hidden;
}
#createGroup h1{
	display: block;
	font-size: 30px;
	width: 400px;
}
#createGroup h3{
	font-size: 15px;
	display: block;
}

#createLeft{
	width: 45%;
	float: left;
	clear: left;
	margin: 0 0 0 5%;
}
#createRight{
	width: 40%;
	float:right;
	clear:right;
	margin: 0 5% 0 0;
}

#createTitle{
	width: 100%;
	height: 30px;
	float:left;
	clear:left;
	margin: 10px 0 0 0;
}
#createLocation{
	width:100%;
	height: 30px;
	float:left;
	clear:left;
	margin: 10px 0 0 0;
}
#createDate{
	width: 100%;
	height:30px;
	float:left;
	clear:left;
	margin: 10px 0 0 0;
}
#createTime{
	width:;
	height:30px;
	float:left;
	clear:left;
	margin: 20px 0 0 0;
}

#createCourse {
	margin:10px 0 0 0;
}

#submit {
	height: 20px;
}

	#createStart{
		width: 27%;
		height:100%;
	}
	#createEnd{
		width: 25%;
		height:100%;
	}
	#startTOD{
		width: 15%;
		height:100%;
	}
	#endTOD{
		width: 15%;
		height:100%;
	}
#createDesc{
	width: 100%;
	height:;
	float:left;
	clear:left;
	margin: 20px 0 0 0;
}
#createHomework{
	width: 10%;
	display: block;
	float: left;
}
#createStudy{
	width: 10%;
	display: block;
	float: left;
	clear: left;
}
#createButton{
	width: 60%;
	height: 30px;
	margin: auto;
	margin-top: 50px;
	margin-left: 12%;
	background-color: red;
	border: none;
	padding: 6px 20px;
	font-size: 14px;
	font-weight: lighter;
	border-radius: 5px;
	color: white;
}







#studyDiv{
	background-color: limegreen;
	width: 60%;
	height: 100%;
	float: left;
	display: block;
}
#homeDiv{
	background-color: palevioletred;
	width: 60%;
	height: 100%;
	float: left;
	display: block;
}
.radio{
	width: 100%;
	height: 35px;
	margin: 20px 0 0 0;
	text-align: center;
}

/*=======================================================================*/
/*Profile page*/
#profileInfo{
	width: 40%;
	height: 100%;
	margin: 20px 0 0 10%;
	float:left;
	clear:left;
}
.profileSection{
	width: 100%;
	height: ;
	display: block;
}
.profileSection h1{
	margin: 0 0 0 0;
	display: inline;
}
.profileSection h3{
	display: inline;
	width: 30%;
}
#profileInfoEdit{
	margin: 0 0 0 0;
	display: inline;
}
#profileName{
	display: inline;
	width: 70%;
}
#profileMajor{
	display: inline;
	width: 70%;
}
#profileEmail{
	display: inline;
	width: 70%;
}
#profileAbout{
	display: inline;
	width: 70%;
}

#profileClasses{
	width: 40%;
	height: 100%;
	margin: 20px 10% 0 0;
	float:right;
	clear:right;
}
.profileClass{
	width: 98%;
	height: 70px;
	margin: 0 0 0 2%;
}
.profileClass h3{
	width: ;
	height: ;
	margin: 0 0 0 0;
}
.profileClassButton{

}
#profileClassesEdit{
	display: inline;
}


/*=======================================================================*/

/* Footer same on all pages */
#footer-index{
	background-color: red;
	margin: 0 0 0 0;
	width: 100%;
	height: 45px; 				/*HEIGHT OF FOOTER*/
	text-align: center;
	position: fixed;
	bottom: 0;
}
#footer-index li{
	display: inline;
	list-style: none;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 2em;
	margin-right: 2em;
}

#footer{
	background-color: red;
	margin: 0 0 0 0;
	width: 100%;
	height: 40px; 				/*HEIGHT OF FOOTER*/
	text-align: center;
}
#footer li{
	display: inline;
	list-style: none;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 2em;
	margin-right: 2em;
}

.colored_button {
	background: #af0000;
}
