html{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height: 100%;
}
body{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 100%;
}
#page{
	width: 100%;
	height: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	display: block;
}

/*=======================================================================*/

/*Form css*/
#headerForm input{
	box-sizing: border-box;
	margin-top: 20px;
	margin-right: 20px;
}
#signUp{
	margin: auto;
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 75%;
	border: 2px solid black;
	border-radius: 5px;
}
#signUp input{
	margin-bottom: 20px;
}
input{
	border: 1px solid black;
	border-radius: 2px;
}
fieldset{
	border: 0px;
}

/*=======================================================================*/

/* Uniform Header on all pages */
#header{
	background-color: red;
	width: 100%;
	height: 75px; 				/*HEIGHT OF HEADER */
	margin: 0 0 0 0;
	position: fixed;
	top: 0;
}
#header img{ /*Logo */
	margin: 0 0 0 0;
	width: 30%;
	height: 100%;
	float: left;
	clear: left;
}
#headerForm{ /*Div for header form*/
	margin: 0 0 0 0;
	height: 100%;
	float: right;
	clear: right;
}	

.inputLogin{
	display: inline;
}
.headerButtons{
	display: inline;
}

/*=======================================================================*/

/* Main content goes in here */
#mainContent{
	margin-top: 75px;
	margin-bottom: 0;
	display: block;
	overflow: auto;
}
#mainContent-homepage{
	margin-top: 125px;
	margin-bottom: 0;
	display: block;
	overflow: auto;
}
#mainLeft{
	float:left;
	clear: left;
	margin-left: 2%;
	width: 45%;
	height: 100%;
	text-align: center;
}
#mainRight{
	float: right;
	clear: right;
	margin-right: 2%;
	width: 45%;
	height: 100%;
}
#mainRight form{
	text-align: center;
}

/*=======================================================================*/

/*Main display for groups on homepage*/
#groupsDisplay{
	width: 59%;
	height: 2000px;					/*HEIGHT OF GROUP DISPLAY*/
	margin-right: 10%;
	overflow: auto;
	float: right;
}
#groupsDisplay h1{
	width: 30%;
	display: inline;
	margin: 0 0 0 0;
	float: left;
	clear: left;
}

/*=======================================================================*/
/*Filter buttons*/

#filterContainer{
	width:96%;
	height: 80px;
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 20px;
}
#filterButtons{
	float: left;
	width: 65%;
	display: inline;
	text-align: center;
}

#fTopL{
	background-color: limegreen;
	width: 45%;
	height: 35px;
	float: left;
	clear: left;
	display: inline;
}
#fTopR{
	background-color: lightskyblue;
	width: 45%;
	height: 35px;
	float: right;
	clear: right;
	display: inline;
}
#fBottomL{
	border-top: 1px solid black;
	background-color: palevioletred;
	width: 45%;
	height: 35px;
	float: left;
	clear: left;
	display: inline;
}
#fBottomR{
	border-top: 1px solid black;
	background-color: lightskyblue;
	width: 45%;
	height: 35px;
	float: right;
	clear: right;
	display: inline;
}

/*=======================================================================*/

/*Class Box*/
#classDisplay{
	background-color: cornsilk;
	border-radius: 10px;
	width: 20%;						
	margin-left: 10%;
	margin-top: 20px;
	position: fixed;
	top: 1;
}
#act-className{
	width: 80%;
	margin:auto;
	margin-top: 5px;
	text-align: center;
	border-bottom: 2px solid black;
}
#act-classDesc{
	width: 80%;
	text-align: center;
	margin: auto;
	margin-top:5px;
	margin-bottom: 5px;
}
.classBoxButton{
	width:80%;
	height:30px;
	text-align: center;
	font-size: 100%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}
#groupSearch{
	width: 80%;
	height: 30px;
	margin: auto;
}
#searchInput{
	width: 70%;
	height: 100%;
}
#searchButton{
	width: 25%;
	height: 100%;
}


/*=======================================================================*/

/*Class Banner to display class information*/
#classBanner{
	background-color: pink;
	width:100%;
	height: 50px;
	position: fixed;
	top: 75px;
}

#addClassBig{
	width: 100%;
	text-align: center;
}
#addClassBig h1{
	margin: 0 0 0 0;
	font-size: 40px;
}
#addClassSmall{
	width:5%;
	height: 100%;
	float:right;
	clear:right;
	text-align: center;
}
#addClassSmall h1{
	margin: 0 0 0 0;
	font-size: 40px;
}
.classSelector{
	/*Width set dynamically*/
	height: 100%;
	float:left;
}

/*=======================================================================*/
/*GROUP BOX - dynamically created*/
/*Individual group displayed group list*/
.group{
	background-color: lightskyblue;
	width: 96%;
	height: 250px;
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 20px;
}

.groupBanner{
	background-color: limegreen;
	width:100%;
	height:50px;						/*GROUP BANNER HEIGHT*/
}
.groupTitle{
	margin: 5px 0 0 1%;
	width: 75%;
	height: 45%;
	float: left;
	clear: left;
}
.groupRole{
	margin: 5px 1% 0 0;
	width: 20%;
	height: 50%;
	float:right;
	clear:right;
	text-align: right;
}
.groupCreator{
	margin: 0 0 0 1%;
	width:75%;
	height: 50%;
	float:left;
	clear:left;
}
.groupDesc{
	width: 75%;
	height: 140px;
	float: left;
	clear: left;
}
.groupDesc p{
	margin: 10px 10px 10px 10px;
}
.groupDate{
	width: 75%;
	height: 60px;
	float: left;
	clear:left;
}
.groupDate p{
	margin: 0 0 10px 10px;
}
.groupButtons{
	width: 25%;
	height: 100px;
	float:right;
	clear:right;
	text-align: center;
}
.groupButtons button{
	display: block;
	width: 60%;
	height: 30px;
	margin: 10px 20px 0 0;
	float:right;
	clear: right;
}
.groupFiller{
	/*Serves only to fill whitespace, no content*/
	width: 25%;
	height: 100px;
	float: right;
	clear: right;
}

/*=======================================================================*/

/* Footer same on all pages */
#footer-index{
	background-color: red;
	margin: 0 0 0 0;
	width: 100%;
	height: 50px; 				/*HEIGHT OF FOOTER*/
	text-align: center;
	position: fixed;
	bottom: 0;
}
#footer-index li{
	display: inline;
	list-style: none;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 2em;
	margin-right: 2em;
}

#footer{
	background-color: red;
	margin: 0 0 0 0;
	width: 100%;
	height: 50px; 				/*HEIGHT OF FOOTER*/
	text-align: center;
}
#footer li{
	display: inline;
	list-style: none;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 2em;
	margin-right: 2em;
}

